# ADS Final Project, Credit Risk Classification 

### Baxter Romero, Michael Sexton

### 0. Data / Library Load  + Preprocessing

In [15]:
#LOAD AND PREPROCESS DATA

#Libs
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

loans_df = pd.read_csv("loan_data.csv")

#loans_df['annual_inc'] = np.exp(loans_df['log.annual.inc']) #keep log value to account for outliers


print(loans_df.shape)
loans_df.head()

(9578, 14)

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [26]:
#print(loans_df.dtypes)
#print(loans_df.isnull().sum())
#print(loans_df.duplicated().sum())
#print(loans_df['annual_inc'].describe())
#print (loans_df['fico'].describe())
#print(loans_df['revol.util'].describe())
#
#sns.boxplot(x=loans_df['dti'])  # Debt-to-Income ratio
#plt.title("Outlier check: DTI")
#plt.show()
#loans_df.corr(numeric_only=True).style.background_gradient(cmap='coolwarm')

#remove rows where credit lines totals are >100%
loans_df = loans_df[loans_df['revol.util'] <= 100]

loans_df.head(5)

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In this preprocessing step, the dataset is loaded and inspected for outliers, with particular attention to revol.util, where rows exceeding 100% credit utilization are removed to eliminate potential anomalies or data quality issues. The log.annual.inc feature is retained in its logarithmic form to preserve the effect of income while reducing the influence of extreme outliers. Total preprocessing analysis includes things such as missing values, duplicate rows, data types, and debt-to-incomeratio distribution.

### 1 . KMeans Clustering

Testing the core hypothesis â€” that borrowers can be grouped based on financial similarity.

In [ ]:
#KMEANS CODE + RESULTS

Explanation for techniques used

### 2. Feature Analysis + Thresholding

In [3]:
#FIND FEATURES WITH LOWEST SUM OF SQUARED ERROR, IDEALLY HAVE HIGH COHESION AND MAXIMIZE CLUSTER SEPARATION

Explanation for techniques used

### 3. Market Basket Analysis (Apriori)

In [4]:
#USE APRIORI TO FIND FREQUENT CO-OCCURENCE PATTERNS AMONG SELECTED FEATURES TO EXAMINE BEHAVIORAL INSIGHT WITHIN OR ACROSS CLUSTERS

Explanation for techniques used

### Decision Stump Feature Engineering

In [5]:
#FINALIZE WHICH FEATURES OR COMBINATIONS DRIVE RISK. DECISION TREE/STUMP GIVE CLEAR SIGNAL ON WHICH FEATURES MATTER BASED ON CLEANED/FILTERED DATA

Explanation for techniques used

### Risk Profiling and Validation

In [ ]:
#VALIDATE ENTIRE PIPELINE BY CHECKING IF APPROACH BETTER EXPLAINS OR PREDICTS RISK COMPARED TO FICO

Explanation for techniques used + Hypothesis Tieback